.formContainer {
  background-color: #a7bcff;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  .formWrapper {
    background-color: white;
    padding: 20px 60px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);

    .logo {
      color: #5d5b8d;
      font-weight: bold;
      font-size: 24px;
    }

    .title {
      color: #5d5b8d;
      font-size: 12px;
    }
    form {
      display: flex;
      flex-direction: column;
      gap: 15px;

      input {
        padding: 15px;
        border: none;
        width: 250px;
        border-bottom: 1px solid #a7bcff;

        &::placeholder {
          color: rgb(175, 175, 175);
        }
      }

      button {
        background-color: #5d5b8d;
        border-radius: 0.25rem;
        color: white;
        padding: 10px;
        font-weight: bold;
        border: none;
        cursor: pointer;
        transition: 0.3s;

        &:hover {
          background-color: darken($color: #5d5b8d, $amount: 8);
        }
      }

      label {
        display: flex;
        align-items: center;
        gap: 10px;
        color: #8da4f1;
        font-size: 12px;
        cursor: pointer;
        transition: 0.3s;

        &:hover {
          color: darken($color: #8da4f1, $amount: 9);
        }

        img {
          width: 32px;
          opacity: 1;
          transition: 0.3s;

          &:hover {
            opacity: 0.5;
          }
        }
      }
    }

    p {
      color: #5d5b8d;
      font-size: 12px;
      margin-top: 10px;
    }
  }
}
